.s-button {
    background-color: #007AFF; /* iOS blue color */
    border: none; /* Remove border */
    border-radius: 8px; /* Rounded corners */
    color: #fff; /* Text color */
    cursor: pointer; /* Change cursor on hover */
    font-size: 16px; /* Font size */
    padding: 10px 20px; /* Padding */
    transition: background-color 0.3s; /* Smooth transition on hover */
    
  }
  
  .s-button:hover {
    background-color: #0056b3; /* Darken background color on hover */
  }
  
  .next {
    margin-right: 10px; /* Add margin between buttons */
  }
  
  .back {
    margin-left: 10px; /* Add margin between buttons */
  }
  