.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0; /* Add minimal vertical padding */
    height: 100vh;
  }
  
  .form-field {
    margin-bottom: 10px; /* Add minimal margin between fields */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Add minimal margin above buttons */
    gap: 10px; /* Add padding between buttons */
  }
 
  
  .label-container{
    margin-bottom: 4px; /* Add minimal margin between fields */
  }