.input-field-container {
  margin-bottom: 20px; /* Add margin between input fields */
}

.iphone-label {
  font-size: 14px; /* Reduce font size for iPhone design */
  padding: 5px; /* Add padding to label */
}

.iphone-input {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px; /* Adjust font size here */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}


.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
